{{ define "main" }}
<section class="hero is-primary is-bold">
  <div class=hero-head>
    {{ partial "nav" . }}
  </div>
  <div class="hero-body">
    <div class="container textbreite">
      <h1 class="title" itemprop="title">{{ .Title }}</h1>
      <p itemprop="description" class="subtitle">{{ .Description }}</p>
    </div>
  </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <figure>
    {{ if .Resources.GetMatch "intro" }}
    {{ $preview := .Resources.GetMatch "intro" }}
    {{ with $preview }}
    {{ $scaled := .Fill "1344x800 Gaussian Center" }}
    <img src="{{ $scaled.Permalink }}" alt="" />
    {{ end }}
    {{ end }}
    {{ if .Resources.GetMatch "introsvg" }}
    {{ $preview := .Resources.GetMatch "introsvg" }}
    <div class="has-text-centered"><img src="{{ $preview.Permalink }}" alt="" /></div>
    {{ end }}
        {{ $image := .Resources.GetMatch "intro*" }}
    <figcaption class="has-text-right has-text-grey has-text-weight-light">
      {{ with $image }}
      {{ .Title }}
      {{ end }}
    </figcaption>
    </figure>
  </div>
</section>
<section class="section">
  <div class="container textbreite">
    {{ with .Params.abstract }}
    <div class="notification is-info">
      <div class="title">Zusammenfassung</div>
      <div class="content">{{ . | markdownify }}</div>
    </div>
    {{ end }}
    <div class="content" itemprop="articleBody">
      {{ .Content }}
    </div>
  </div>
</section>
<section class="footer">
  <div class="container textbreite">
    {{ range .Params.tags }}
    <a class="button is-small" href="/tags/{{ . | urlize }}"><i class="fa fa-tag"></i>&nbsp;{{ . }}</a>
    {{ end }}
  </div>
</section>
{{ end }}
