{{ define "main" }}
<section class="hero is-primary">
  <div class=hero-head>
    {{ partial "nav" . }}
  </div>
  <div class="hero-body">
    <div class="container">
      <h5 class="title">{{ .Title }}</h5>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
    {{ $data := .Data }}
    {{ range $key,$value := .Data.Terms.Alphabetical }}
    <div class="column is-variable">
    <h2 class="title"><a href="{{ $value.Name | urlize }}">{{ $value.Name }}</a></h2>

    {{ range $value.Pages.ByDate }}
    <p>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    </p>
    {{ end }}
    </div>
    {{ end }}
  </div>
  </div>
</section>
{{ end }}
