<section class="section">
  <div class="container">
<div class="columns is-8">
<div class="column is-four-fifth"></div>
<div class="column is-variable">
<div class="card">
  <div class="card-image">
	<a href="http://www.amazon.de/Soziale-Plastik-Die-Kunst-Allmende/dp/1523458763/">
    <figure class="image">
  <img src="/images/Jan Ulrich Hasecke - Soziale Plastik.jpg" alt="Card image cap">
</figure>
</a>
</div>
  <div class="card-content">
    <h6 class="title is-size-5">Soziale Plastik. Die Kunst der Allmende</h6>
    <p class="subtitle">Zum 30. Todestag von Joseph Beuys.</p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
    <a href="http://www.amazon.de/Soziale-Plastik-Die-Kunst-Allmende/dp/1523458763/" class="button is-link is-small">Bestellen</a>
	</span>
</p>
  </footer>
  </div>
</div>

<div class="column is-variable">
  <div class="card">
    <div class="card-image">
  	<a href="https://www.amazon.de/dp/1533603693">
      <figure class="image">
  <img src="/images/Jan Ulrich Hasecke - Die Reise nach Jerusalem.jpg" alt="Card image cap">
  </figure>
  </a>
</div>
  <div class="card-content">
    <h6 class="title is-size-5">Die Reise nach Jerusalem</h6>
    <p class="subtitle">Roman</p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
    <a href="https://www.amazon.de/dp/1533603693" class="button is-link is-small">Bestellen</a>
  </span>
</p>
	</div>
</div>

<div class="column is-variable">
  <div class="card">
    <div class="card-image">
    <a href="http://www.amazon.de/%C2%BBIch-bin-doch-auch-Hitlerjude/dp/1482046377">
      <figure class="image">
  <img class="card-img-top" src="/images/Jan Ulrich Hasecke - Ich bin doch auch ein Hitlerjude.jpg" alt="Card image cap">
 </figure>
  </a>
</div>
  <div class="card-content">
    <h6 class="title is-size-5">Ich bin doch auch ein Hitlerjude</h6>
    <p class="subtitle">Witze im 3. Reich</p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
<span>
    <a href="http://www.amazon.de/%C2%BBIch-bin-doch-auch-Hitlerjude/dp/1482046377" class="button is-link is-small">Bestellen</a>
  </span>
</p>
  </div>
</div>
<div class="column is-four-fifth"></div>

</div>
</section>