{{ define "main" }}
<section class="hero is-fullheight is-primary" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/images/20170124_163632-korr.jpg); background-position:center bottom;">
  <div class="hero-head">
    {{ partial "nav" . }}
    <div class="container is-hidden-mobile">
      <div class="is-pulled-right">
        <p class="subtitle has-text-right">{{ .Site.Params.description | safeHTML }}</p>
      </div>
    </div>
  </div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1 is-size-4-mobile">{{ .Title }}</h1>
      <h2 class="subtitle">{{ .Site.Params.headline }}</h2>
<!--      <p class="subtitle">{{ .Site.Params.description }}</p>-->
      
    </div>
  </div>
  <div class="hero-foot has-text-centered">
    <p class="title is-1">
    <a class="button" href="{{ .Site.BaseURL }}/post">Scroll oder klick.</a>
  </p>
  </div>
</section>

<section class="section">
  <div class="container textbreite">
    <h1 id="toc" class="title">{{ .Site.Params.tocname }}</h1>
    {{ range first 12 (where .Data.Pages "Section" "post")}}
    {{ .Render "summary"}}
    {{ end }}
    <div class="has-text-centered">
    <a class="button is-link" href="{{ .Site.BaseURL }}/post">Alle Texte</a>
    </div>
  </div>
</section>
{{ end }}
